<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- 图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    
    <!-- 核心CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- 默认样式表-->
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/skins/skin-blue.min.css}">

	<!-- 自定义样式-->
    <link rel="stylesheet" th:href="@{/css/customer/custom.css}">
   
  </head>
  
  
<body class="hold-transition skin-blue sidebar-mini">
          	
	<div class="error-page">
        <h2 class="headline text-yellow">注册成功</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i>请前往指定邮箱进行激活.</h3>

          <p>
            	在您注册的邮箱进行激活完成后，点击<a th:href="@{/loginPage}">这里</a>进行登录。
          </p>
        </div>
      </div>
			
			
	 <!-- js基础文件-->
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    
</body>
</html>