<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- 图标-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    
    <!-- 核心CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    
    <!-- 默认样式表-->
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/skins/skin-blue.min.css}">

	<!-- 自定义样式-->
    <link rel="stylesheet" th:href="@{/css/customer/custom.css}">
   
   
   <!-- bootstrap-table css -->
	<link rel="stylesheet" th:href="@{/css/form/bootstrap-table/bootstrap-table.min.css}">
	
	<!-- switchery css -->
	<link rel="stylesheet" th:href="@{/css/form/switchery/switchery.min.css}">

	<link rel="stylesheet" th:href="@{/css/ztree/metroStyle/metroStyle.css}" type="text/css">
  </head>
  
  
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
			<div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		   <section class="content-header">
		        <small>字典管理</small>
		      <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i>字典管理</a></li>
		        <li class="active">添加</li>
		      </ol>
		    </section>
          	
				<section class="content">
							  <div class="main-content">
		            <form id="myForm" class="form-horizontal">
		            <h4 class="form-header h4">基本信息</h4>
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group">

								<input type="hidden" name="dictTypeId" id="dictTypeId">

		                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>字典名称：</label>
		                        <div class="col-sm-8">
		                            <input id="dictTypeName" name="dictTypeName" placeholder="请输入字典名称" class="form-control" type="text">
		                        </div>
		                    </div>
		                </div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label"><span style="color: red; ">*</span>字典类型：</label>
								<div class="col-sm-8">
									<input id="dictTypeType" name="dictTypeType" placeholder="请输入字典类型" class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label"><span style="color: red; ">*</span>字典状态：</label>
								<div class="col-sm-8" th:each="dict : ${@dictDataServiceImpl.getType('is_enabled')}">
									<input type="radio" th:value="${dict.dictDataValue}" name="dictTypeStatus" id="dictTypeStatus"/>
									<label th:text="${dict.dictDataLabel}"></label>
								</div>
							</div>
						</div>

		            </div>
		            
		             <div class="row">
				        <div class="col-sm-offset-5 col-sm-10">
				            <button type="button" class="btn btn-sm btn-primary" id="submitHandler"><i class="fa fa-check"></i>保 存</button>&nbsp;
				            <button type="button" class="btn btn-sm btn-danger" onclick="javascript:history.back(-1);"><i class="fa fa-reply-all"></i>返回 </button>
				        </div>
				    </div>

		        </form>
		     </div>
				</section>
			</div>
			
			
			<div class="control-sidebar-bg"></div>
			</div>
	
	 <!-- js基础文件-->
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    
    
    <!-- switchery js -->		
	<script th:src="@{/js/form/switchery/switchery.min.js}"></script>

	<script th:src="@{/js/ztree/jquery.ztree.core.min.js}"></script>
	<script th:src="@{/js/ztree/jquery.ztree.excheck.js}"></script>


	<!-- 表单验证插件 -->     
    <script th:src="@{/js/form/formValidation/jquery.validate.min.js}"></script>

	<!-- 表单验证 -->
	<script type="text/javascript">
	$(document).ready(function() {

		//从父层获取值
		var parent_param = parent.param;
		$("#dictTypeId").val(parent_param.dictTypeId);
		$("#dictTypeName").val(parent_param.dictTypeName);
		$("#dictTypeType").val(parent_param.dictTypeType);
		$("input[type='radio'][value='"+parent_param.dictTypeStatus+"']").prop("checked");

    	// 在键盘按下并释放及提交后验证提交表单
    	  $("#myForm").validate({
    		    rules: {
					dictTypeName: {
    		        	required: true
    		      },
					dictTypeType: {
						required: true
					},
					dictTypeType: {
						required: "#dictTypeStatus:checked",
						minlength: 1
					}
    		    },
    		    messages: {
					dictTypeName: {
    		        required: "请输入字典名"
    		    	},
					dictTypeType: {
						required: "请输入字典类型"
					}
    		    }, dictTypeStatus: "请选择是否启用"
    		});
    	})
	$("#submitHandler").on("click", function(){
		$.ajax({
			cache : true,
			type : "POST",
			url : "/dict/update",
			data : {
				"dictTypeId": $("#dictTypeId").val(),
				"dictTypeName": $("#dictTypeName").val(),
				"dictTypeType": $("#dictTypeType").val(),
				"dictTypeStatus": $("input[type='radio']:checked").val()
			},
			success : function(data) {
				var index = parent.layer.getFrameIndex(window.name); //获取当前窗口index
				parent.layer.close(index);
				window.parent.location.reload();
			}
		});
	});
	</script>
</body>
</html>