<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lytw13.demo.mapper.quarz.TbJobMapper">

    <resultMap type="com.lytw13.demo.model.TbJob" id="TbJobMap">
        <result property="jobId" column="job_id" jdbcType="INTEGER"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
        <result property="jobInvokemethod" column="job_invokeMethod" jdbcType="VARCHAR"/>
        <result property="jobCron" column="job_cron" jdbcType="VARCHAR"/>
        <result property="jobStatus" column="job_status" jdbcType="INTEGER"/>
        <result property="jobCreatedate" column="job_createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbJobMap">
        select
          job_id, job_name, job_invokeMethod, job_cron, job_status, job_createDate
        from db_quarz.tb_job
        where job_id = #{jobId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbJobMap">
        select
          job_id, job_name, job_invokeMethod, job_cron, job_status, job_createDate
        from db_quarz.tb_job
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbJobMap">
        select
          job_id, job_name, job_invokeMethod, job_cron, job_status, job_createDate
        from db_quarz.tb_job
        <where>
            <if test="jobId != null">
                and job_id = #{jobId}
            </if>
            <if test="jobName != null and jobName != ''">
                and job_name = #{jobName}
            </if>
            <if test="jobInvokemethod != null and jobInvokemethod != ''">
                and job_invokeMethod = #{jobInvokemethod}
            </if>
            <if test="jobCron != null and jobCron != ''">
                and job_cron = #{jobCron}
            </if>
            <if test="jobStatus != null">
                and job_status = #{jobStatus}
            </if>
            <if test="jobCreatedate != null">
                and job_createDate = #{jobCreatedate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="jobId" useGeneratedKeys="true">
        insert into tb_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                job_id,
            </if>
            <if test="jobName != null and jobName!= ''">
                job_name,
            </if>
            <if test="jobInvokemethod != null and jobInvokemethod!= ''">
                job_invokeMethod,
            </if>
            <if test="jobCron!= null and jobCron!= ''">
                job_cron,
            </if>
            <if test="jobStatus!= null">
                job_status,
            </if>
            job_createDate,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                #{jobId,jdbcType=INTEGER},
            </if>
            <if test="jobName != null and jobName!= ''">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobInvokemethod != null and jobInvokemethod!= ''">
                #{jobInvokemethod,jdbcType=VARCHAR},
            </if>
            <if test="jobCron != null and jobCron!= ''">
                #{jobCron,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus!= null">
                #{jobStatus,jdbcType=INTEGER},
            </if>
            CURRENT_TIMESTAMP,
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_quarz.tb_job
        <set>
            <if test="jobName != null and jobName != ''">
                job_name = #{jobName},
            </if>
            <if test="jobInvokemethod != null and jobInvokemethod != ''">
                job_invokeMethod = #{jobInvokemethod},
            </if>
            <if test="jobCron != null and jobCron != ''">
                job_cron = #{jobCron},
            </if>
            <if test="jobStatus != null">
                job_status = #{jobStatus},
            </if>
            <if test="jobCreatedate != null">
                job_createDate = #{jobCreatedate},
            </if>
        </set>
        where job_id = #{jobId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from db_quarz.tb_job where job_id = #{jobId}
    </delete>

    <update id="updateAllStatus">
        update db_quarz.tb_job set job_status = #{jobStatus}
    </update>

</mapper>