<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>头像修改</title>
</head>
<body>

	<form id="myForm" enctype="multipart/form-data">
		<input type="hidden" name="id" id="id">
		<input type="file" name="file" id="file">
		<input type="button" value="提交" id="submitHandler">
	</form>
	 <script th:src="@{/js/jquery-3.4.1.js}"></script>
	 <script type="text/javascript">
		 //父窗口获取数据
		 $("#id").val(parent.param);
		 $("#submitHandler").on("click", function(){
			 var formData = new FormData();
			 // var file = $('#file')[0].files[0];
			 // formData.append('file', file); // 固定格式
			 formData.append('file', $('#file')[0].files[0]);
			 $.ajax({
				 cache : true,
				 type : "POST",
				 url : "/user/changeIcon",
				 processData: false,
				 contentType: false,
				 data : formData,
				 success : function(data) {
				 	console.log(data);
					 var index = parent.layer.getFrameIndex(window.name); //获取当前窗口index
					 parent.layer.close(index);
					 window.parent.location.reload();
				 },
				 error: function(data) {
					 console.log(data);
					 var index = parent.layer.getFrameIndex(window.name); //获取当前窗口index
					 parent.layer.close(index);
					 window.parent.location.reload();
				 }
			 });
		 });
	 </script>
</body>
</html>