<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lytw13.demo.dao.DictTypeMapper">
    <resultMap id="BaseResultMap" type="com.lytw13.demo.model.TbDictType">
        <id column="dict_type_id" jdbcType="INTEGER" property="dictTypeId" />
        <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
        <result column="dict_type_type" jdbcType="VARCHAR" property="dictTypeType" />
        <result column="dict_type_status" jdbcType="INTEGER" property="dictTypeStatus" />
        <result column="dict_type_createDate" jdbcType="TIMESTAMP" property="dictTypeCreateDate" />
    </resultMap>


    <sql id="Base_Column_List">
    dict_type_id,dict_type_name,dict_type_type,dict_type_status,dict_type_createDate
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_dict_type
        <where>
            <trim suffixOverrides="and">
                <if test="dictTypeId != null and dictTypeId!= ''">
                    dict_type_id = #{dictTypeId,jdbcType=INTEGER} and
                </if>
                <if test="dictTypeName != null and dictTypeName!= ''">
                    dict_type_name = #{dictTypeName,jdbcType=VARCHAR} and
                </if>
                <if test="dictTypeType!= null and dictTypeType!= ''">
                    dict_type_type = #{dictTypeType,jdbcType=VARCHAR} and
                </if>
                <if test="dictTypeStatus != null and dictTypeStatus!= ''">
                    dict_type_status = #{dictTypeStatus,jdbcType=INTEGER} and
                </if>
                <if test="dictTypeCreateDate!= null and dictTypeCreateDate!= ''">
                    dict_type_createDate = #{dictTypeCreateDate,jdbcType=TIMESTAMP} and
                </if>
            </trim>
        </where>
    </select>

<!--    <insert id="insert" parameterType="com.lytw13.demo.model.TbDictType"  useGeneratedKeys="true" keyProperty="dictTypeId">-->
<!--        insert into tb_dict_type-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="dictTypeId != null and dictTypeId!= ''">-->
<!--                dict_type_id,-->
<!--            </if>-->
<!--            <if test="dictTypeName != null and dictTypeName!= ''">-->
<!--                dict_type_name,-->
<!--            </if>-->
<!--            <if test="dictTypeType!= null and dictTypeType!= ''">-->
<!--                dict_type_type,-->
<!--            </if>-->
<!--            <if test="dictTypeStatus != null and dictTypeStatus!= ''">-->
<!--                dict_type_status,-->
<!--            </if>-->
<!--            dict_type_createDate,-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="dictTypeId != null and dictTypeId!= ''">-->
<!--                #{dictTypeId,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="dictTypeName != null and dictTypeName!= ''">-->
<!--                #{dictTypeName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="dictTypeType!= null and dictTypeType!= ''">-->
<!--                #{dictTypeType,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="dictTypeStatus != null and dictTypeStatus!= ''">-->
<!--                #{dictTypeStatus,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            CURRENT_TIMESTAMP,-->
<!--        </trim>-->
<!--    </insert>-->

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_dict_type
    where dict_type_id = #{dictTypeId,jdbcType=INTEGER}
  </delete>

<!--    <update id="updateByPrimaryKeySelective" parameterType="com.lytw13.demo.model.TbDictType">-->
<!--        update tb_dict_type-->
<!--        <set>-->
<!--            <trim suffixOverrides=",">-->
<!--                <if test="dictTypeName != null and dictTypeName!= ''">-->
<!--                    dict_type_name = #{dictTypeName,jdbcType=VARCHAR} ,-->
<!--                </if>-->
<!--                <if test="dictTypeType!= null and dictTypeType!= ''">-->
<!--                    dict_type_type = #{dictTypeType,jdbcType=VARCHAR} ,-->
<!--                </if>-->
<!--                <if test="dictTypeStatus != null and dictTypeStatus!= ''">-->
<!--                    dict_type_status = #{dictTypeStatus,jdbcType=INTEGER} ,-->
<!--                </if>-->
<!--                <if test="dictTypeCreateDate!= null and dictTypeCreateDate!= ''">-->
<!--                    dict_type_createDate = #{dictTypeCreateDate,jdbcType=TIMESTAMP} ,-->
<!--                </if>-->
<!--            </trim>-->
<!--        </set>-->
<!--        where dict_type_id = #{dictTypeId,jdbcType=INTEGER}-->
<!--    </update>-->
    <insert id="insert" parameterType="com.lytw13.demo.model.TbDictType"  useGeneratedKeys="true" keyProperty="dictTypeId">
        insert into tb_dict_type
                (dict_type_name,
                dict_type_type,
                dict_type_status)
            values(
                #{dictTypeName,jdbcType=VARCHAR},
                #{dictTypeType,jdbcType=VARCHAR},
                #{dictTypeStatus,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.lytw13.demo.model.TbDictType">
        update tb_dict_type set
                    dict_type_name = #{dictTypeName,jdbcType=VARCHAR} ,
                    dict_type_type = #{dictTypeType,jdbcType=VARCHAR} ,
                    dict_type_status = #{dictTypeStatus,jdbcType=INTEGER}
        where dict_type_id = #{dictTypeId,jdbcType=INTEGER}
    </update>

</mapper>